---
layout: default
label : לוח אירועים לתושב/ת
---
      {% assign sorted_events = (site.data.topics.citizens.cultural_events | sort: 'when.date') | reverse %}
      <div class="ui stackable grid">
        <div class = "ui segment centered row">
          <h2> אירועים לתושב/ת </h2>
        </div>

    <div class = "ui centered grid container segment row">
      <div class="ui multiple dropdown filter">
        <input name="filters" type="hidden">
            <div class = "ui button inverted active">
                <i class = "search icon"></i>
                חפשו אירועים
                <input class = "ui input" type="text" placeholder=""></input>
            </div>
          </div>
        </div>

        <h3 class = "ui container divider center aligned"><b></b></h3>

            <div class = "ui stackable centered grid container cards">
                {% for event in sorted_events %}
                <div class="ui card">
                  <div class="ui top left attached {{ event.color }} fluid label">
                    <i class="{{event.type_icon_name}} icon"></i>
                    {{ event.hebrew.type }}
                    {%if event.hebrew.audience %}
                      {{ event.hebrew.adience }}
                    {% endif %}
                </div>

                    <img class = "ui medium image" src = "{{ event.hebrew.image_link }}">
                  <div class="content">
                      <div class="header">
                        {{event.title}}
                      </div>
                      <div class="description">
                        <p> {{event.hebrew.description}}</p>
                      </div>
                        <div class = "divider"></div>
                        <div class = "ui row">
                          <div class="ui four wide column">
                            {% if event.when %}
                            {% assign when = event.when %}
                              <span><i class = "calendar icon"></i>
                              {% if when.day %} {{ when.day }}, {% endif %}
                              {% if when.day %} {{ when.date }}, {% endif %}
                              {% if when.time %} {{ when.time}} {% endif %}
                              </span>
                                {% if when.time_end != null %}
                                  <span> - {{ when.time_end }}</span>
                                  {% endif %}
                                  {% if when.recurring %}
                                  (<span><i class="refresh icon"></i>אירוע שבועי</span>)
                                  {% endif %}
                                {% endif %}
                          </div>
                          {%if event.hebrew.location %}
                          <div class="ui four wide column">
                            <a href = "{{event.location_map_link}}" target="_blank">
                              <i class = "map icon"></i>איפה:
                              {{ event.hebrew.location}}
                            </a>
                          </div>
                          {% endif %}

                          {% if event.price %}
                            <div class="ui four wide column"><i class = "shekel icon"></i>מחיר: {{event.price}}</div>
                          {% endif %}
                            <div class = "ui four wide column center aligned">
                            <a class="ui button primary basic middle aligned" target="_blank" href="{{event.hebrew.details_link}}">
                              <i class="add icon"></i>לפרטים נוספים
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  {% endfor %}

        </div>
</div>
