---
layout: default
label : לוח אירועים לתושב/ת
---
      {% assign sorted_events = (site.data.topics.citizens.cultural_events | sort: 'when.date') | reverse %}
      <div class="ui stackable grid">
        {% assign promoted_events = sorted_events | where: "promoted": "true" %} {% assign promoted_event = promoted_events.first %}
        <div class = "ui segment row">
          <div class = "ui two wide column">
            <img class = "ui circular fluid image middle aligned" src=" {{ promoted_event.hebrew.image_link }}">
          </div>
          <div class = "ui fourteen wide column">
            <div class="ui large centered header"> {{ promoted_event.title}} </div>
              <div class="content">
                  {{ promoted_event.hebrew.description }}
              </div>
              <div class = "ui divider"></div>
              <div class ="ui stackable centered grid container content">
                <div class = "ui centered row">
                  <div class="ui four wide column"><a><i class = "calendar icon"></i>מתי:  	&nbsp; 	{{ promoted_event.when.date }}, {{ promoted_event.when.time}}</a></div>
                  <div class="ui four wide column"><a><i class = "map icon"></i>איפה:  	&nbsp; {{ promoted_event.hebrew.location }}</a></div>
                  <div class="ui four wide column"><a><i class = "shekel icon"></i>מחיר:  	&nbsp; {{ promoted_event.price }}</a></div>
                </div>
                <div class ="ui centered row">
                  <div calss = "ui buttom attached button">
                    <a class="ui button" href="{{ promoted_event.hebrew.details_link }}">
                      <i class="add icon"></i>לפרטים נוספים
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>



    <div class = "ui centered grid container segment row">
    <div><h3>חפשו אירועים לטעמכם</h3>
      <div class="ui multiple dropdown filter">
        <input name="filters" type="hidden">
        <i class="filter icon"></i>
        <span class="text">לפי סוג אירוע</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
              <input placeholder="סוג אירוע..." type="text">
          </div>
          <div class="divider"></div>
          <div class="header">
            <i class="tags icon"></i>
            סוגי אירועים
          </div>
          <div class="scrolling menu">
            <div class="item" data-value="music">
              <i class = "music icon"></i>
                  תרבות ופנאי
            </div>
            <div class="item" data-value="sport">
              <i class = "soccer icon"></i>
                ספורט
            </div>
            <div class="item" data-value="lecture">
              <i class = "talk icon"></i>
              חוגים והעשרה
            </div>
            <div class="item" data-value="religion">
              <i class = "user icon"></i>
              דת ומסורת
            </div>
            <div class="item" data-value="nature">
              <i class = "leaf icon"></i>
              טבע וסביבה
            </div>
            <div class="item" data-value="happening">
              <i class = "birthday icon"></i>
              הפנינג
            </div>
            <div class="item" data-value="art">
              <i class = "paint brush icon"></i>
              אומנות
            </div>
          </div>
        </div>
      </div>

      <div class="ui multiple dropdown filter">
        <input name="filters" type="hidden">
          <i class="filter icon"></i>
            <span class="text">מתאים ל...</span>
              <div class="menu">
                <div class="ui icon search input">
                  <i class="search icon"></i>
                  <input placeholder="מתאים ל.." type="text">
                </div>
                <div class="divider"></div>
              </div>

              <div class="scrolling menu">
                <div class="item" data-value="all">
                  <div class="ui purple empty circular label"></div>
                      כל המשפחה
                </div>
                  <div class="item" data-value="kids">
                    <div class="ui red empty circular label"></div>
                      ילדים
                  </div>
                  <div class="item" data-value="youth">
                    <div class="ui blue empty circular label"></div>
                      נוער
                  </div>
                  <div class="item" data-value="mature">
                    <div class="ui green empty circular label"></div>
                      מבוגרים
                  </div>
                </div>
              </div>


            <div class = "ui button inverted active">
                <i class = "mail icon"></i>
                    עדכנו אותי על אירועים דומים, במייל:
                <input class = "ui input" type="text" placeholder="כתובת מייל"></input>
            </div>
          </div>
        </div>

        <h3 class = "ui container divider center aligned"><b></b></h3>

            <div class = "ui stackable centered grid container fluid cards">
              <div class = "column">
                {% for event in sorted_events %}
                <div class="ui fluid card row">
                  <div class="ui top left attached {{ event.color }} fluid label">
                    <i class="{{event.type_icon_name}} icon"></i>
                    {{ event.hebrew.type }}
                    {%if event.hebrew.audience %}
                      {{ event.hebrew.adience }}
                    {% endif %}
                </div>

                  <div class = "fluid image">
                    <img src = "{{ event.hebrew.image_link }}">
                  </div>
                  <div class="content">
                      <div class="header">
                        {{event.title}}
                      </div>
                      <div class="description">
                        <p> {{event.hebrew.description}}</p>
                      </div>
                        <div class = "divider"></div>
                        <div class = "ui row">
                          <div class="ui four wide column">
                            {% if event.when %}
                            {% assign when = event.when %}
                              <span><i class = "calendar icon"></i>
                              {% if when.day %} {{ when.day }}, {% endif %}
                              {% if when.day %} {{ when.date }}, {% endif %}
                              {% if when.time %} {{ when.time}} {% endif %}
                              </span>
                                {% if when.time_end != null %}
                                  <span> - {{ when.time_end }}</span>
                                  {% endif %}
                                  {% if when.recurring %}
                                  (<span><i class="refresh icon"></i>אירוע שבועי</span>)
                                  {% endif %}
                                {% endif %}
                          </div>
                          {%if event.hebrew.location %}
                          <div class="ui four wide column">
                            <a href = "{{event.location_map_link}}" target="_blank">
                              <i class = "map icon"></i>איפה:
                              {{ event.hebrew.location}}
                            </a>
                          </div>
                          {% endif %}

                          {% if event.price %}
                            <div class="ui four wide column"><i class = "shekel icon"></i>מחיר: {{event.price}}</div>
                          {% endif %}
                            <div class = "ui four wide column center aligned">
                            <a class="ui button primary basic middle aligned" target="_blank" href="{{event.hebrew.details_link}}">
                              <i class="add icon"></i>לפרטים נוספים
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  {% endfor %}

          </div>
        </div>
</div>
