---
layout: default
label: תהליך לדוגמה (בקשה לקבלת הנחה בארנונה לנכס ריק)
---


<div class = "ui segment centered row">
  <a class="ui bottom attached green label">בחזרה לעמוד המידע בנושא ארנונה</a>
  <h2> בקשה לקבלת הנחה בארנונה לנכס ריק </h2>
</div>

{% assign process = site.data.topics.citizens.arnona.hebrew.procceses.first %}

<div class="sixteen wide column">
  {% for section in process.sections %}
  <div>
    <div class="ui divider"></div>
    <h3 class="ui header">
      <i class="{{ section.section_icon }} icon"></i>
      <div class="content">
        {{ section.section_title }}
      </div>
    </h3>

      {% if section.description %}
        <div>
          <p>
            {{ section.description }}
            <br>
            <div class = "right aligned">
            <a href="#">
              <i class = "file icon"></i>טופס בקשה רשמי
            </a>
          </div>
          </p>
        </div>
      {% endif %}

      {% if section.description_numbered_list %}
      <div>
        <ol>
          {% for item in section.description_numbered_list %}
          <li> {{ item }} </li>
          {% endfor %}
        </ol>
      </div>
      {% endif %}

      {% if section.section_unumbered_list %}
      <div>
        <ul>
          {% for item in section.section_unumbered_list %}
            <li> {{ item }} </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  {% endfor %}

</div>
