# Drupal profile #
##################
muni/modules/contrib
muni/modules/development
muni/1
muni/themes/contrib
muni/libraries

# Temporary "build" files
www

# Local Configuration
config.sh
prepare_db_for_dev.sh
pantheon-install.sh
