---
layout: default
label : Mrkazia - business
---

      <div class = "ui eight wide column">

            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="מה תרצו לחפש...">
                <i class="search icon"></i>
              </div>
            <div class="results"></div>

              <div class = "ui medium header"> העמודים הפופולאריים </div>
              <div class="ui selection list">
                {% for popular_page in site.data.merkazia.business.popular_pages %}
                  <div class="item">
                    <a href = "{{ popular_page.link }}" class = "content">
                      <i class="ui {{ popular_page.icon }} icon"></i>
                      <span >{{ popular_page.title }}</span>
                    </a>
                  </div>
                {% endfor %}
              </div>
          </div>

            <div class = "ui eight wide column">
              <h4 class = "ui header">עשו עכשיו!  </h4>
              <div class="ui relaxed divided list">

                {% for action_item in site.data.merkazia.business.action_items %}
                <div class="item">
                    <a class="header" href="{{ action_item.link }}">
                      <i class="large {{ action_item.icon }} middle aligned icon"></i>
                      {{action_item.title}}
                    </a>
                    <div class="description">{{action.item.description}}</div>
                </div>
                {% endfor %}

              </div>
            </div>

      <!-- local funcitnalities -->
        <script type='text/javascript' src="merkazia-poc.js"> </script>
