---
layout: default
label : Mrkazia(1)
---

<html lang="he" dir="rtl">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.css"
      integrity="sha384-h/tGiTStmgbDQyTAdp2s5BfyXn7wmnFsn3vDaCPYck9YKkOuLAdjHi6y154TBVJ4"
      crossorigin="anonymous">
      <!-- Jquery -->
      <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.min.js"
      integrity="sha384-kZT+CItOKWHYL+Rz37W2NEz60Pu2JJJ8wgzq+82VWsi3QM53eNFzQJZqzhPuyo63"
      crossorigin="anonymous"></script>

    </head>

  <body>
    <div class = "ui stackable grid container">
      <div class = "ui eight wide column">

            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="מה תרצו לחפש...">
                <i class="search icon"></i>
              </div>
            <div class="results"></div>

              <div class = "ui medium header"> העמודים הפופולאריים </div>
              <div class="ui selection list">
                {% for popular_page in site.data.merkazia.citizen.popular_pages %}
                  <div class="item">
                    <a href = "{{ popular_page.link }}" class = "content">
                      <i class="ui {{ popular_page.icon }} icon"></i>
                      <span >{{ popular_page.title }}</span>
                    </a>
                  </div>
                {% endfor %}
              </div>
          </div>

            <div class = "ui eight wide column">
              <h4 class = "ui header">עשו עכשיו!  </h4>
              <div class="ui relaxed divided list">

                {% for action_item in site.data.merkazia.citizen.action_items %}
                <div class="item">
                  <i class="large {{ action_item.icon }} middle aligned icon"></i>
                  <div class="content">
                    <a class="header" href="{{ action_item.link }}">{{action_item.title}}</a>
                    <div class="description">{{action.item.description}}</div>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
      <!-- local funcitnalities -->
        <script type='text/javascript' src="merkazia-poc.js"> </script>
  </body>

</html>
