---
layout: default
label : מכרזים
---
<div class = "ui stackable grid container">
  <div class = "four wide column center aligned ">
    <div class = "segment unstackable row">
      <label>
        <span>
          עברית
        </span>
        <div class="ui toggle checkbox">
          <input name="public" type="checkbox">
          <label></label>
        </div>
        <span>
          عربيه
        </span>
      </label>
    </div>

    <h4 class="ui horizontal divider header">נושאים, מונחים או שמות</h4>
    <div class="ui category search">
        <div class="ui icon input">
            <input class="prompt" placeholder="חיפוש נושא, שם, מחלקה או תאריך" type="text">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>

    <div class = "ui horizontal divider">הצגת מכרזים שנסגרו</div>

    <div class = "segment unstackable row">
      <label>
        <span>
          לא
        </span>
        <div class="ui toggle checkbox">
          <input name="public" type="checkbox">
          <label></label>
        </div>
        <span>
          כן
        </span>
      </label>
    </div>

      <h4 class="ui horizontal divider header">לפי מחלקות ברשות</h4>

      <select name="doc_types" multiple="" class="ui dropdown">
        <option value="">מחלקות</option>
        <option value="all">הכל</option>
        <option value="reports">דוברות</option>
        <option value="all">הנדסה</option>
        <option value="protocols">חינוך</option>
      </select>

      <h4 class="ui horizontal divider header"> תאריכי פרסום </h4>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="תאריכים" name="date1" id="date1">
        </div>
      </div>

      <h4 class="ui horizontal divider header"> תאריכי הגשה</h4>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="תאריכים" name="date1" id="date1">
        </div>
      </div>

      <div class = "ui horizontal divider">עדכנו אותי על מכרזים חדשים</div>
        <div class = "ui input">
          <input placeholder="דואר אלקטרוני" type="email">
          <button class = "ui button">
            <i class = "mail icon"></i>
          </button>
        </div>
  </div>

  <div class = "twelve wide column">

  <div class = "ui list">
  {% assign all_tenders = (site.data.topics.business.tenders | sort: 'deadline.date') | reverse %}
  {% if all_tenders.first %}
  <div class = "item">
    <i class ="folder open icon"></i>
    <div class ="content">
      <div class="header">
        מכרזים
      </div>
      <div class = "list">
        {% for tender in all_tenders %}
        <div class = "item">
            <i class = "file icon"></i>
            <div class = "content">
              <div class="header">
                <a href="{{ tender.hebrew.link }}" target="_blank">
                  {{ tender.title}}
                </a>
              </div>
              <div class = "desciprtion">
                {% if tender.hebrew.department %}
                    מחלקה: {{ tender.hebrew.department }},
                {% endif %}

                {% if tender.hebrew.contacts %}
                  אנשי קשר:
                  {% for contact in tender.hebrew.contacts %}
                    <span>
                      {{ contact }}
                    </span>
                  {% endfor %}
                {% endif %}
                <div>
                    להגשה עד {{ tender.deadline.date }}, {{ tender.deadline.time }}
                    {% if tender.deadline.extension %}
                    <div class = "ui horizontal red label">הארכה</div>
                    {% endif %}
                </div>

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% else %}
      <div class = "item">
        <i class ="folder icon"></i>
        <div class ="content">
          מכרזים
        </div>
      </div>
      {% endif %}
      </div>
    </div>
</div>
</div>
</div>
