<footer class="ui inverted vertical footer segment">
  <div class="ui grid container">
    <div class = "row">
      <div class="left floated eight wide column list">
          <a class="item">נגישות</a>
          <a class="item">תנאי שימוש באתר</a>
          <a class="item">[קישור שמוזן ע״י מנהל האתר]</a>
        </div>
      <div class = "right floated right aligned eight wide column">
        האתר עודכן לאחרונה בחמישי 2.3.17
      </div>
    </div>
      <div class = "centered row">
      <p>© כל הזכויות שמורות לעיריית קריית מלאכי, ז'בוטיסקי 18, טלפון: 08-8500888. האתר מספק מידע כללי בלבד. הנוסח המחייב הוא זה הקבוע בהוראות הדין הרלוונטיות כפי שתהיינה בתוקף מעת לעת.</p>
    </div>
  </div>
</footer>
