<footer class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class = "ui six wide column">
      <div class="ui list">
        <a class="item">נגישות</a>
        <a class="item">תנאי שימוש באתר</a>
        <a class="item">קישור שמוזן ע״י מנהל האתר</a>
        <a class="item">קישור שמוזן ע״י מנהל האתר</a>
      </div>
      <p>האתר עודכן לאחרונה בחמישי 2.3.17</p>
      <p>© כל הזכויות שמורות לעיריית קריית מלאכי, ז'בוטיסקי 18, טלפון: 08-8500888. האתר מספק מידע כללי בלבד. הנוסח המחייב הוא זה הקבוע בהוראות הדין הרלוונטיות כפי שתהיינה בתוקף מעת לעת.</p>
    </div>
  </div>
</footer>
