<div class = "ui centered grid container">
    <div class = "ui row">
      <div class = "ui four wide column">
          <img src = "http://www.tuba-zangariyye.muni.il/SiteCollectionImages/logo1.png" class = "ui tiny centered image">
      </div>

    <div class = "ui eight wide center aligned middle aligned column">
      <h2 class = "ui header"> הרשות שלי </h2>
    </div>
    <div class = "ui four wide center aligned middle aligned column">
      <div class = "ui segments">
        <div class = "ui vertical segment center aligned middle aligned">
            <a href="#">
              <img src="http://www.aisrael.org/_uploads/extraimg/Tav_masach(4).jpg" class = "ui image mini middle aligned">
            </a>
            <a href="#"><i class = "plus icon"></i></a>
            <a href="#"><i class = "font icon"></i></a>
            <a href="#"><i class = "minus icon"></i></a>
          </div>
          <div class = "ui vertical sesgment">
            <div class="ui icon input">
              <i class="search icon"></i>
              <input placeholder="מה תרצו למצוא..." type="text">
            </div>
          </div>
      </div>
  </div>
</div>
  <div class = "ui row">
    <div class = "ui four wide column">
      <div class="ui three item menu">
        <a class="active item">תושבים</a>
        <a class="item">עסקים</a>
        <a class="item">תיירים</a>
      </div>
    </div>
    <div class = "ui eight wide center aligned column">
      <button class="ui circular facebook icon button">
        <i class="facebook icon"></i>
      </button>
      <button class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </button>
      <button class="ui circular linkedin icon button">
        <i class="linkedin icon"></i>
        </button>
      <button class="ui circular google plus icon button">
        <i class="google plus icon"></i>
      </button>

      <button class = "ui sumbit blue button">מוקד 106</button>

    </div>
    <div class = "ui four wide column">
      <div class="ui two item menu">
        <a class="active item">עברית</a>
        <a class="item">عربى</a>
    </div>
  </div>

</div>
</div>
<div class = "ui divider"></div>
