body.font-size--1 {
    font-size: 10px;
}

body.font-size-0 {
    font-size: 14px;
}

body.font-size-1 {
    font-size: 18px;
}

body.font-size-2 {
    font-size: 22px;
}

body.font-size-3 {
    font-size: 26px;
}

.ui.menu, i.icon, .ui.button, .ui.segment, .ui.breadcrumb {
    font-size: 100%;
}

h2, h2.ui.header {
    font-size: 170%;
}

h3 {
    font-size: 120%;
}
