/*=======================================================================
*** PORTO_SUB CUSTOM STYLE SHEET***
========================================================================*/
a {
  color: #383f48;
}

a:hover {
  color: #383f48;
}

a:focus {
  color: #383f48;
}

a:active {
  color: #383f48;
}

.panel-group .panel-heading a {
  color: #383f48;
}

.sticky-header-active .admin-menu .header-body {
  margin-top: 29px;
}

#logo img {
  width: 150px;
}

#header .header-logo img {
  margin: 24px 0 0 24px;
}

#name-and-slogan {
  float: none;
  margin: 0;
}

#site-name {
  margin: 10px 0 0;
  font-size: inherit;
}

#header .header-nav-top li a,
#header .header-nav-top li span,
#header .header-nav-top li i {
  color: #333;
}

.sticky-header-active #site-name {
  margin-top: 33px;
}

@media (max-width: 767px) {
  .sticky-header-active #site-name {
    margin-top: 60px;
  }
}

#site-name h1 {
  line-height: normal;
  margin-bottom: 0;
}

#site-name a:hover,
#site-name a:active {
  text-decoration: none;
}

@media (max-width: 991px) {
  #site-name h1 {
    font-size: 210%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #site-name h1 {
    font-size: 310%;
  }
}

@media (min-width: 1200px) {
  #site-name h1 {
    font-size: 410%;
  }
}

@media (max-width: 767px) {
  .align-xs-center {
    text-align: center !important;
  }
}

#header .header-nav-top {
  margin: 43px 0 0 0;
}

.sticky-header-active #header .header-nav-top {
  margin-top: 70px;
}

@media (max-width: 767px) {
  .sticky-header-active #header .header-nav-top {
    margin-top: 10px;
  }
}

.page-header {
  margin: 0;
}

.social-icons i.fa {
  margin: 0;
}

.content img {
  display: inline-block;
  width: auto;
}

.post-author img {
  max-height: 120px;
  width: auto;
}

.btn {
  font-size: 14.2px;
}

.pane-topics-list a {
  display: inline-block;
}

@media (max-width: 991px) {
  .thumbnail {
    border: 1px solid #ddd;
  }
}

.thumb-info {
  position: relative;
}

.list.list-borders li {
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  background: inherit;
  border-radius: 0;
}

.homepage-teaser.action {
  border: 0 none;
  background: inherit;
}

.pane-content .thumb-info .thumb-info-action-icon {
  background: none transparent;
  border: 0 none;
  padding: 0;
  height: auto;
  line-height: initial;
  position: absolute;
  top: 0;
}

#elm-app .thumbnail .caption {
  padding: 9px 6px;
}

.event-date {
  display: flex;
  flex-direction: row;
}

.event-date .flex-rows {
  display: flex;
  flex-direction: row;
}

.different-end-date {
  align-self: flex-start;
}

.event-date .flex-rows span:nth-child(2) {
  margin: 0 4px;
}

.event-date .flex-cols {
  display: flex;
  flex-direction: column;
}

.recurring-weekly {
  display: flex;
}

.recurring-weekly .fa,
.event-date .fa {
  line-height: 22px;
}
